ServerRest/web/WEB-INF/wsdl/localhost_8080/ServerSOAP-war/CustomerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.service/" name="CustomerService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.service/" schemaLocation="http://localhost:8080/ServerSOAP-war/CustomerService?xsd=1"/>
</xsd:schema>
</types>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="findAllCustomer">
<part name="parameters" element="tns:findAllCustomer"/>
</message>
<message name="findAllCustomerResponse">
<part name="parameters" element="tns:findAllCustomerResponse"/>
</message>
<message name="findRangeCustomer">
<part name="parameters" element="tns:findRangeCustomer"/>
</message>
<message name="findRangeCustomerResponse">
<part name="parameters" element="tns:findRangeCustomerResponse"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="findCustomer">
<part name="parameters" element="tns:findCustomer"/>
</message>
<message name="findCustomerResponse">
<part name="parameters" element="tns:findCustomerResponse"/>
</message>
<message name="countCustomer">
<part name="parameters" element="tns:countCustomer"/>
</message>
<message name="countCustomerResponse">
<part name="parameters" element="tns:countCustomerResponse"/>
</message>
<portType name="CustomerService">
<operation name="createCustomer">
<input wsam:Action="http://soap.service/CustomerService/createCustomer" message="tns:createCustomer"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://soap.service/CustomerService/removeCustomer" message="tns:removeCustomer"/>
</operation>
<operation name="findAllCustomer">
<input wsam:Action="http://soap.service/CustomerService/findAllCustomerRequest" message="tns:findAllCustomer"/>
<output wsam:Action="http://soap.service/CustomerService/findAllCustomerResponse" message="tns:findAllCustomerResponse"/>
</operation>
<operation name="findRangeCustomer">
<input wsam:Action="http://soap.service/CustomerService/findRangeCustomerRequest" message="tns:findRangeCustomer"/>
<output wsam:Action="http://soap.service/CustomerService/findRangeCustomerResponse" message="tns:findRangeCustomerResponse"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://soap.service/CustomerService/editCustomer" message="tns:editCustomer"/>
</operation>
<operation name="findCustomer">
<input wsam:Action="http://soap.service/CustomerService/findCustomerRequest" message="tns:findCustomer"/>
<output wsam:Action="http://soap.service/CustomerService/findCustomerResponse" message="tns:findCustomerResponse"/>
</operation>
<operation name="countCustomer">
<input wsam:Action="http://soap.service/CustomerService/countCustomerRequest" message="tns:countCustomer"/>
<output wsam:Action="http://soap.service/CustomerService/countCustomerResponse" message="tns:countCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerServicePortBinding" type="tns:CustomerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerService">
<port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
<soap:address location="http://localhost:8080/ServerSOAP-war/CustomerService"/>
</port>
</service>
</definitions>