ServerRest/web/WEB-INF/wsdl/localhost_8080/ServerSOAP-war/DiscountCodeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.service/" name="DiscountCodeService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.service/" schemaLocation="http://localhost:8080/ServerSOAP-war/DiscountCodeService?xsd=1"/>
</xsd:schema>
</types>
<message name="createDiscountCode">
<part name="parameters" element="tns:createDiscountCode"/>
</message>
<message name="editDiscountCode">
<part name="parameters" element="tns:editDiscountCode"/>
</message>
<message name="removeDiscountCode">
<part name="parameters" element="tns:removeDiscountCode"/>
</message>
<message name="findDiscountCode">
<part name="parameters" element="tns:findDiscountCode"/>
</message>
<message name="findDiscountCodeResponse">
<part name="parameters" element="tns:findDiscountCodeResponse"/>
</message>
<message name="findAllDiscountCode">
<part name="parameters" element="tns:findAllDiscountCode"/>
</message>
<message name="findAllDiscountCodeResponse">
<part name="parameters" element="tns:findAllDiscountCodeResponse"/>
</message>
<message name="findRangeDiscountCode">
<part name="parameters" element="tns:findRangeDiscountCode"/>
</message>
<message name="findRangeDiscountCodeResponse">
<part name="parameters" element="tns:findRangeDiscountCodeResponse"/>
</message>
<message name="countDiscountCode">
<part name="parameters" element="tns:countDiscountCode"/>
</message>
<message name="countDiscountCodeResponse">
<part name="parameters" element="tns:countDiscountCodeResponse"/>
</message>
<portType name="DiscountCodeService">
<operation name="createDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/createDiscountCode" message="tns:createDiscountCode"/>
</operation>
<operation name="editDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/editDiscountCode" message="tns:editDiscountCode"/>
</operation>
<operation name="removeDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/removeDiscountCode" message="tns:removeDiscountCode"/>
</operation>
<operation name="findDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/findDiscountCodeRequest" message="tns:findDiscountCode"/>
<output wsam:Action="http://soap.service/DiscountCodeService/findDiscountCodeResponse" message="tns:findDiscountCodeResponse"/>
</operation>
<operation name="findAllDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/findAllDiscountCodeRequest" message="tns:findAllDiscountCode"/>
<output wsam:Action="http://soap.service/DiscountCodeService/findAllDiscountCodeResponse" message="tns:findAllDiscountCodeResponse"/>
</operation>
<operation name="findRangeDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/findRangeDiscountCodeRequest" message="tns:findRangeDiscountCode"/>
<output wsam:Action="http://soap.service/DiscountCodeService/findRangeDiscountCodeResponse" message="tns:findRangeDiscountCodeResponse"/>
</operation>
<operation name="countDiscountCode">
<input wsam:Action="http://soap.service/DiscountCodeService/countDiscountCodeRequest" message="tns:countDiscountCode"/>
<output wsam:Action="http://soap.service/DiscountCodeService/countDiscountCodeResponse" message="tns:countDiscountCodeResponse"/>
</operation>
</portType>
<binding name="DiscountCodeServicePortBinding" type="tns:DiscountCodeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countDiscountCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DiscountCodeService">
<port name="DiscountCodeServicePort" binding="tns:DiscountCodeServicePortBinding">
<soap:address location="http://localhost:8080/ServerSOAP-war/DiscountCodeService"/>
</port>
</service>
</definitions>