ServerRest/src/conf/xml-resources/web-service-references/MicroMarketService/wsdl/localhost_8080/ServerSOAP-war/MicroMarketService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.service/" name="MicroMarketService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.service/" schemaLocation="http://localhost:8080/ServerSOAP-war/MicroMarketService?xsd=1"/>
</xsd:schema>
</types>
<message name="createMicroMarket">
<part name="parameters" element="tns:createMicroMarket"/>
</message>
<message name="editMicroMarket">
<part name="parameters" element="tns:editMicroMarket"/>
</message>
<message name="removeMicroMarket">
<part name="parameters" element="tns:removeMicroMarket"/>
</message>
<message name="findMicroMarket">
<part name="parameters" element="tns:findMicroMarket"/>
</message>
<message name="findMicroMarketResponse">
<part name="parameters" element="tns:findMicroMarketResponse"/>
</message>
<message name="findAllMicroMarket">
<part name="parameters" element="tns:findAllMicroMarket"/>
</message>
<message name="findAllMicroMarketResponse">
<part name="parameters" element="tns:findAllMicroMarketResponse"/>
</message>
<message name="findRangeMicroMarket">
<part name="parameters" element="tns:findRangeMicroMarket"/>
</message>
<message name="findRangeMicroMarketResponse">
<part name="parameters" element="tns:findRangeMicroMarketResponse"/>
</message>
<message name="countMicroMarket">
<part name="parameters" element="tns:countMicroMarket"/>
</message>
<message name="countMicroMarketResponse">
<part name="parameters" element="tns:countMicroMarketResponse"/>
</message>
<portType name="MicroMarketService">
<operation name="createMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/createMicroMarket" message="tns:createMicroMarket"/>
</operation>
<operation name="editMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/editMicroMarket" message="tns:editMicroMarket"/>
</operation>
<operation name="removeMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/removeMicroMarket" message="tns:removeMicroMarket"/>
</operation>
<operation name="findMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/findMicroMarketRequest" message="tns:findMicroMarket"/>
<output wsam:Action="http://soap.service/MicroMarketService/findMicroMarketResponse" message="tns:findMicroMarketResponse"/>
</operation>
<operation name="findAllMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/findAllMicroMarketRequest" message="tns:findAllMicroMarket"/>
<output wsam:Action="http://soap.service/MicroMarketService/findAllMicroMarketResponse" message="tns:findAllMicroMarketResponse"/>
</operation>
<operation name="findRangeMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/findRangeMicroMarketRequest" message="tns:findRangeMicroMarket"/>
<output wsam:Action="http://soap.service/MicroMarketService/findRangeMicroMarketResponse" message="tns:findRangeMicroMarketResponse"/>
</operation>
<operation name="countMicroMarket">
<input wsam:Action="http://soap.service/MicroMarketService/countMicroMarketRequest" message="tns:countMicroMarket"/>
<output wsam:Action="http://soap.service/MicroMarketService/countMicroMarketResponse" message="tns:countMicroMarketResponse"/>
</operation>
</portType>
<binding name="MicroMarketServicePortBinding" type="tns:MicroMarketService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countMicroMarket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MicroMarketService">
<port name="MicroMarketServicePort" binding="tns:MicroMarketServicePortBinding">
<soap:address location="http://localhost:8080/ServerSOAP-war/MicroMarketService"/>
</port>
</service>
</definitions>